@font-face {
  font-family: DejaVu Sans Mono;
  src:  url(./DejaVuSansMono.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: DejaVu Sans;
  src: url(./DejaVuSans.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
}

#page {
    font-family: DejaVu Sans, sans-serif;
    line-height: 1.65;
    color: #444;
    background-color: white;
    display:block;
    padding: 0;
    margin:0;

    position: relative;
    min-height: 100%;
}

#header { 
    display: block;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    background-color: #153969;
    color: white;
    font-weight: bold;
}

#header h1 { 
    padding: 0; 
    margin: 0;
}

#header > * {
    color: white;
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
}

#header > a {
    float: right;
}

#main {
    display: block;
    padding: 16px;
    padding-bottom: 5em;
}

a.idref, a.modref, #toc a {
    text-decoration: none;
    color: inherit;
}

#main a.idref:hover, #main a.modref:hover{
    background-color: #D6EFFF;
    border-radius: 3px;
    padding: 3px;
    margin: -3px;
}

a .id {
    cursor: pointer;
}

.id[type="var"], .id[type="variable"] {
    background-color: white;
    padding: 3px;
    margin: -3px;
    cursor: text;
}

.code .id[type="var"], .code .id[type="variable"] {
    background-color: #F2FAFF;
}


#main a.idref:active, #main a.modref:active{
    background-color: white;
}

#toc{
    color: #2874AE;
}

.libtitle {display: none}

.libtitle, .section, #toc h2 {
    line-height: 1;
    color: #2874AE;
    text-rendering: optimizeLegibility;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-align: left;
}

.libtitle {
    border-color: grey;
    border-bottom-style: solid;
    border-top-style: solid;
    padding: 0.2em;
    margin-left: -0.2em;
    margin-right: -0.2em;
    margin-top: 32px;
    margin-bottom: 48px;
}

.section {
    margin-top:2em;
}

div:empty{ display: none;}

#main h1 {
	font-size: 2em;
}

#main h2 {
	font-size: 1.667rem;
}

#main h3 {
	font-size: 1.333em;
}

#main h4, #main h5, #main h6 {
	font-size: 1em;
}


#main .doc {
    margin: 0px;
    max-width: 54em;
    text-align: justify;
}



.inlinecode, .code, #main pre {
    font-family: DejaVu Sans Mono, monospace;
}

.inlinecode{
    display: inline;
    color: #666666;
}

.block, .code{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 52em;
}

.block{
    text-align: center;
}

.block img{
    margin: 1em;
}

.code {
    border-radius: 0.5em;
    background-color: #F2FAFF;/*#fdf6e3;*/
 }

.code span {
    display: inline-block;
    padding: 0;
}

.code > span:first-of-type {
    padding-top: 1em;
}

.code > span:last-of-type {
    padding-bottom: 1em;
}

.code br:first-child,
.code br:last-child {
    display: none; 
}


table.infrule {
  border: 0px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

td.infrule {
    font-family: DejaVu Sans Mono, monospace;
    text-align: center;
    padding: 0;
    line-height: 1;
}

tr.infrulemiddle hr {
    margin: 1px 0 1px 0;
}

.infrulenamecol {
    color: rgb(60%,60%,60%);
    padding-left: 1em;
    padding-bottom: 0.1em
}


.id { 
    display: inline; 
    cursor: text;
}

.id[type="constructor"], .id[type="projection"], .id[type="method"] {
    color: #A30E16;
}

.id[type="var"], .id[type="variable"] {
    color: inherit;
}

.id[type="definition"], .id[type="record"], .id[type="class"],
.id[type="instance"], .id[type="inductive"], .id[type="library"] {
    color: #A6650F;
}

.id[type="lemma"] {
    color: #188B0C;
}

.id[type="keyword"], .id[type="notation"], .id[type="abbreviation"] {
 color : #2874AE;
}

.comment {
  color: #808080;
}


/* TOC */


/* Index */

#index {
    margin: 0;
    padding: 0;
    width: 100%;
}

#index #frontispiece {
    margin: 1em auto;
    padding: 1em;
    width: 60%;
}

.booktitle { font-size : 140%  }
.authors { font-size : 90%;
	         line-height: 115%;  }
.moreauthors { font-size : 60%  }

#index #entrance {
    text-align: center;
}

#index #entrance .spacer {
    margin: 0 30px 0 30px;
}

#footer {
    position: fixed;
    bottom: 0px;
    height: 1.5em;
    width: 100%;
    margin-top: 2em;
    text-align: right;
    background-color: #eee8d5;
    font-size: 88%;
    font-family: DejaVu Sans, sans-serif;
}

#footer hr {
    display: none;
    visibility: hidden;
}

#footer a {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    color: #2874AE;
}

#footer a:last-of-type {
    float: none;
    padding-left: 0;
}

ul.doclist {
    margin-top: 0em;
    margin-bottom: 0em;
}





