/* replace unicode */

.id[repl] .hidden {
  max-width: 1px;
  height: 1px;
  font-size: 0.1px;
  display:inline-block;
  overflow: hidden;
}

.id[repl]{
  position: relative;
}
.id[repl]:before{
  content: attr(repl);
}

/* folding proofs */

.proof {
  cursor: pointer;
}
.proof * {
  cursor: pointer;
}

.proof[show="false"] {
  height: 1.2em;
  overflow:hidden;
  display:inline-block;
  opacity:0;
}

.proof[show="false"] + br + br {
  display:none;
}

.proof[show="false"]:hover {
  opacity:0.7;
}
