/* replace unicode */

.id[repl] {
  font-size:0pt;
}

.id[repl]:before{
  font-size:initial;
  content: attr(repl);
}

/* folding proofs */

.proof {
  cursor: pointer;
}
.proof * {
  cursor: pointer;
}

.proof[show="false"] {
  /*font-size: 0pt;*/
  height: 1.2em;
  overflow:hidden;
  display:block;
  opacity:0;
}

.proof[show="false"] + br {
  display:none;
}

.proof[show="false"]:hover {
  opacity:0.7;
}

.proof[show="false"]:after {
  font-size: initial;
  display:inline;
  float:right;
  content: "..";
}
/*
.proof[show="false"] * {
  display: none;
}*/
